body{
display: flex;
flex-direction: column;
align-content: space-between;
margin: 0;
}

.header{
    background-color: #1F2937;
}

.header{
    display: inline-flex;
    flex-direction: column;
    height: 30vh;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.links{
    display: inline-block;
}

a{
    color: #E5E7EB;
    font-size: 18px;
}

#left-p{
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}

.left{
    display: flex;
    flex-direction: column;
    width: 307px;
}

.left p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: inline-flex;
    justify-content: space-around;
    min-height: fit-content;
}

.main-img{
    display: flex;
    align-items: center;
    background-color: grey;
    padding-left: 62px;
    padding-right: 62px;
    margin-top: 62px;
    margin-bottom: 62px;
}

#img-text{
    color: #E5E7EB;
}

.left button{
    background-color: #3882f6;
    color: white;
}

.sect-1{
    display: inline-flex;
    height: 30vh;
}

.img-div{
    width: 75px;
    height: 75px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: blue;
    display: inline-block;
}

.quote{
    height: 30vh;
    background-color: #E5E7EB;
}

.cta{
    height: 30vh;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #1F2937;
    
}

.footer p{
    color: #E5E7EB;
}